<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #login {
        position: absolute;
        left: 45%;
        top: 45%;
        margin: 0 auto;
        }

        input {
        width: 200px;
        }

        input[type="submit"] {
        width: 208px;
        }
    </style>
</head>
<body>
    <div id="login">
        <form method="post">
            <input type="text" name="login" placeholder="LOGIN" required><br>
            <input type="password" name="password" placeholder="PASSWORD" required><br>
            <input type="submit" placeholder="Ok">
        </form>
    </div>
</body>
</html>